{{define "main"}}


<main aria-role="main" style="width: 100%">

	<div class="homepage-title" style="width: 100%; text-align: center;">
		<h1 style="text-align: center">{{.Title}}</h1>
		{{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
        
        <hr />
        <p></p>
        <p></p>
    </div>
    
    <div class="homepage-content">
		<!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->        
        {{.Content}}


        
        <div  style="text-align: center">
            <span>There are currently {{ len .Site.RegularPages }} articles on this site.</span>
        </div>


	</div>
	<div>
		{{ range first 10 .Site.RegularPages }}
		{{ .Render "summary"}}
		{{ end }}
	</div>
</main>



{{end}}