<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <style>

button, .paper-btn, [type="button"] {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px white;
    transition: all 235ms ease-in-out 0s;
    align-self: center;
    border: 2px solid white;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    outline: none;
    padding: 0.75rem;
    margin: 25px;
}


.row.flex-center {
    justify-content: center;
}
.row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
*, ::before, ::after {
    box-sizing: inherit;
}



button:hover, .paper-btn:hover, [type="button"]:hover {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0,0,0,0.3);
}
.border-5, .child-borders > :nth-child(6n+5) {
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 15px 105px;
    border-top-left-radius: 250px 15px;
    border-top-right-radius: 25px 80px;
}

        </style>


<div class="row flex-center child-borders">

    <!-- <a class='paper-btn margin current' href='/'>LinkedIn</a> -->
    <a href="https://www.linkedin.com/in/emason101" target="_blank" class="paper-btn margin"><span
            class="fab fa-linkedin"></span></a>

    <a href="https://stackoverflow.com/users/4443812/elliot?tab=profile" target="_blank"
        class="paper-btn margin"><span class="fab fa-stack-overflow"></span></a>

    <a href="https://github.com/ejmason101" target="_blank" class="paper-btn margin"><span
            class="fab fa-github"></span></a>

    <a href="https://www.twitch.tv/ejmason101" target="_blank" class="paper-btn margin"><span
            class="fab fa-twitch"></span></a>

    <!-- <a class='paper-btn margin' href='/docs/'><span class="fas fa-laptop-code"></span></a> -->



</div>